<!DOCTYPE html>
<html>
<head>
    <title></title>
<link rel="stylesheet" href="styles/app.css">
</head>
<body>
<div id="main" ng-app="myTodo">
    <div id="perforation"></div>
    <div id="page">
        <div id="title">To do</div>
        <div id="switcher" ng-controller="switcher">
            <a class="switcher-btn" ng-class="{current: panelName == 'all'}" ng-click="switchPanel('all')">All<span class="notify-num" ng-show="activeNumber > 0">{{activeNumber}}</span></a>
            <a class="switcher-btn" ng-class="{current: panelName == 'active'}" ng-click="switchPanel('active')">Active</a>
            <a class="switcher-btn" ng-class="{current: panelName == 'complete'}" ng-click="switchPanel('complete')">Complete</a>
        </div>
        <div id="container">
            <div ng-view></div>
        </div>

        <div id="add" ng-controller="add">
            <input id="add-input" type="text" ng-model="content" ng-keydown="keyDownHandler($event)" placeholder="Add a todo">
            <a id="add-btn" class="btn" ng-click="add()"></a>
        </div>
    </div>

</div>
<script type="text/javascript" src="libs/angular.js"></script>
<script type="text/javascript" src="libs/angular-route.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/service.js"></script>
<script type="text/javascript" src="scripts/controller.js"></script>
<script type="text/javascript" src="scripts/filter.js"></script>
<script type="text/javascript" src="scripts/directive.js"></script>
</body>
</html>