<div ng-repeat="t in todos | active">
    <div class="todo-item" ng-class="{done: t.complete == true}">
        <a class="todo-status btn" ng-click="toggleComplete(t.content)"></a>
        <div class="todo-item-content" canedit title="{{t.content}}">{{t.content}}</div>
        <a class="todo-delete btn" ng-click="del(t.content)"></a>
    </div>
</div>
<div id="add">
    <input id="add-input" type="text" ng-model="content" ng-keydown="keyDownHandler($event)" placeholder="Add a todo">
    <a id="add-btn" class="btn" ng-click="add()"></a>
</div>